<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/peerjs@1.4.5/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>

    <script defer>
        const ROOM_ID = "<%= roomid %>"
    </script>

    <!-- <script src="script.js" defer></script> -->
    <script src="scripts/script.js" defer></script>
    <script src="scripts/CallHandler.js" defer></script>
    <script src="scripts/SocketHandler.js" defer></script>

    <!-- Styles -->
    <link rel="stylesheet" href="styles/style.css">
    <title>Group VideoCall</title>
</head>

<body>
    <div id="contianer">

        <div id="media-container">
            <video id="media-view" src="http://clips.vorwaerts-gmbh.de/VfE.webm" controls></video>

        </div>
        <div id="video-grid">

        </div>

        <video id="myVideo"></video>


        <button id="copy-txt">Copy</button>
        <button id="cut-call">CUT</button>
    </div>

</body>

</html>